{% extends "base.html" %}
{% block title %}{{ project.name }}{% endblock %}

{% block toolbar %}
<a href="/dashboard/project/{{ project.name }}" class="button">
    {{ project.name }}
</a>
{% endblock %}

{% block content %}
<div id="link-header" style="display: flex;" class="flex-column bg-1">
    <div class="link-header-top"></div>
    <div class="link-header-middle flex flex-column g-4">
        <h1 class="no-margin">{{ project.name }}</h1>
    </div>
    <div class="link-header-bottom">
        <div class="device:desktop flex">
            <a href="/dashboard" class="button">Home</a>
            <a href="/dashboard/projects" class="button">Projects</a>
            <div class="hr-left" style="margin: 0 var(--u-10);"></div>
        </div>

        <a href="/dashboard/project/{{ project.name }}" class="button active">Overview</a>
        <a href="/dashboard/project/{{ project.name }}/settings" class="button">Settings</a>
    </div>
</div>

<main class="small flex flex-column g-4">
    <div class="full flex justify-space-between align-center g-4 flex-wrap">
        <h6 class="no-margin">Project Info</h6>

        <div class="flex g-4 flex-wrap">
            {% if project.private_metadata.type == crate::db::ProjectType::StaticContainer %}
            <!-- containers -->
            <button id="deploy" class="theme:primary round" title="Run Deployment Script">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-circle-play">
                    <circle cx="12" cy="12" r="10" />
                    <polygon points="10 8 16 12 10 16 10 8" />
                </svg>

                Deploy
            </button>

            <button data-dialog="deployment_script" class="round tertiary" title="Edit Deployment Script">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-scroll">
                    <path d="M19 17V5a2 2 0 0 0-2-2H4" />
                    <path
                        d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3" />
                </svg>
            </button>
            {% else %}
            <!-- normal -->
            <a href="#files_list" class="button theme:primary round" title="View Files">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-package-search">
                    <path
                        d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14" />
                    <path d="m7.5 4.27 9 5.15" />
                    <polyline points="3.29 7 12 12 20.71 7" />
                    <line x1="12" x2="12" y1="22" y2="12" />
                    <circle cx="18.5" cy="15.5" r="2.5" />
                    <path d="M20.27 17.27 22 19" />
                </svg>

                Files
            </a>
            {% endif %}

            <button id="delete_project" data-endpoint="/api/v1/project/{{ project.name }}" class="round tertiary red"
                title="Delete Project">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-trash-2">
                    <path d="M3 6h18" />
                    <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                    <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                    <line x1="10" x2="10" y1="11" y2="17" />
                    <line x1="14" x2="14" y1="11" y2="17" />
                </svg>
            </button>
        </div>
    </div>

    <div class="card round secondary full" id="deployment">
        <ul>
            <li><b>Type</b>: {{ project.private_metadata.type }}</li>
            <li><b>CID</b>: {{ project.private_metadata.cid.clone().unwrap_or(String::from("Project does not own a
                container")) }}</li>
            <li><b>Requests</b>: {{ asset_requests }}</li>
            <li><b>Hosted</b>: <a id="live_url" data-project="{{ project.name }}" target="_blank" href="#"></a></li>
            <li><b>File Privacy</b>: {{ project.metadata.file_privacy }}</li>
        </ul>
    </div>

    {% if project.private_metadata.type == crate::db::ProjectType::StaticPackage %}
    <!-- normal -->
    <hr />

    <div class="full flex justify-space-between align-center g-4 flex-wrap">
        <h6 class="no-margin">Project Files</h6>

        <div class="flex g-4 flex-wrap">
            <button id="upload_file" class="theme:primary round" title="Upload File"
                data-endpoint="/api/v1/project/{{ project.name }}/files">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-file-up">
                    <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
                    <path d="M14 2v4a2 2 0 0 0 2 2h4" />
                    <path d="M12 12v6" />
                    <path d="m15 15-3-3-3 3" />
                </svg>

                Upload
            </button>

            <button id="create_file" class="theme:secondary round" title="Create File">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-package-plus">
                    <path d="M16 16h6" />
                    <path d="M19 13v6" />
                    <path
                        d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14" />
                    <path d="m7.5 4.27 9 5.15" />
                    <polyline points="3.29 7 12 12 20.71 7" />
                    <line x1="12" x2="12" y1="22" y2="12" />
                </svg>

                Create
            </button>
        </div>
    </div>

    <table class="full stripped" id="files_list">
        <thead>
            <tr>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for f in files.iter() %}
            <tr>
                <td><a href="/api/v1/project/{{ project.name }}/files{{ f }}">{{ f }}</a></td>

                <td class="flex g-4 flex-wrap">
                    <button class="secondary round load_file_info" data-dialog="manage_file"
                        data-file-endpoint="/api/v1/project/{{ project.name }}/files/{{ f }}"
                        data-project="{{ project.name }}" data-file="{{ f }}" title="More Options">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-wrench">
                            <path
                                d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z" />
                        </svg>

                        Manage
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <dialog id="manage_file">
        <div style="width: 25rem; max-width: 100%;">
            <h2 class="no-margin full text-center">File Options</h2>

            <hr />

            <div class="flex flex-column g-4">
                <button class="full round justify-start" onclick="window.open_file_editor();">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-pencil">
                        <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z" />
                        <path d="m15 5 4 4" />
                    </svg>

                    Edit
                </button>

                <button class="full round red justify-start" onclick="window.delete_file();">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-trash-2">
                        <path d="M3 6h18"></path>
                        <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                        <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                        <line x1="10" x2="10" y1="11" y2="17"></line>
                        <line x1="14" x2="14" y1="11" y2="17"></line>
                    </svg>

                    Delete
                </button>
            </div>

            <hr />

            <div class="full flex justify-right">
                <a class="button round red" href="javascript:document.getElementById('manage_file').close();">
                    Close
                </a>
            </div>
        </div>
    </dialog>
    {% else %}
    <!-- containers -->
    <dialog id="deployment_script">
        <div style="width: 25rem; max-width: 100%;">
            <h2 class="no-margin full text-center">Build Script</h2>

            <hr />

            <form id="save_deployment_script" action="/api/v1/project/{{ project.name }}/script" method="post"
                class="flex flex-column g-4">
                <textarea class="full round" name="script" id="script" placeholder="git clone ..." rows="10"
                    style="font-family: monospace; white-space: pre;">{{ project.metadata.script }}</textarea>

                <button class="round theme:primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-save">
                        <path
                            d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z" />
                        <path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7" />
                        <path d="M7 3v4a1 1 0 0 0 1 1h7" />
                    </svg>

                    Save
                </button>
            </form>

            <hr />

            <div class="full flex justify-right">
                <a class="button round red" href="javascript:document.getElementById('deployment_script').close();">
                    Close
                </a>
            </div>
        </div>
    </dialog>
    {% endif %}
</main>

<script type="module">
    import "/static/js/ViewProject.js";
</script>
{% call super() %}
{% endblock %}