{% extends "../../base.html" %}

{% block title %}{{ file_path }} - {{ project.name }}{% endblock %}
{% block toolbar_stuff %}style="display: none !important;"{% endblock %}

{% block content %}
<div class="flex flex-column" style="height: 100dvh;">
    <!-- toolbar -->
    <div class="editor_topbar flex g-4 justify-space-between">
        <!-- global menu -->
        <div class="flex g-4">
            <button title="Page Options"
                onclick="window.toggle_child_menu(event.target, '#upper\\:globalmenu', true, false, false)"
                style="filter: none;">
                <img src="/static/favicon.svg" alt="Favicon" style="height: 80%;" />
            </button>

            <button title="File Options"
                onclick="window.toggle_child_menu(event.target, '#upper\\:file', true, true)">File</button>

            <button title="Workspace Views"
                onclick="window.toggle_child_menu(event.target, '#upper\\:view', true, true)">View</button>

            <button title="Run Editor Commands"
                onclick="window.toggle_child_menu(event.target, '#upper\\:run', true, true)">Run</button>
        </div>

        <!-- window options -->
        <div class="flex g-4">
            <button id="needs_to_save" style="display: none;" title="Save Changes"
                onclick="window.save_editor_state();">
                <b>•</b>
            </button>

            <button title="Help" aria-label="help" data-dialog="editor_help">
                ?
            </button>

            <button title="Close" aria-label="close" onclick="window.close_editor();">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-x">
                    <path d="M18 6 6 18" />
                    <path d="m6 6 12 12" />
                </svg>
            </button>
        </div>
    </div>

    <div class="link-list round secondary" style="display: none; box-shadow: 0 2px 4px hsla(0, 0%, 0%, 25%);"
        id="upper:file">
        <div class="flex flex-column">
            <button class="option small full justify-space-between" onclick="window.save_editor_state();">
                Save
                <span class="chip mention" style="opacity: 75%;" title="Ctrl+Save">Ctrl+S</span>
            </button>

            <a href="/dashboard/project/{{ project.name }}" class="option button small full justify-space-between"
                id="open_file_button">
                Open File
                <span class="chip mention" style="opacity: 75%;" title="Ctrl+Open">Ctrl+O</span>
            </a>

            <button onclick="window.close_editor();" class="red option button small full justify-space-between">
                Exit
                <span class="chip mention" style="opacity: 75%;" title="Ctrl+Destroy">Ctrl+D</span>
            </button>
        </div>
    </div>

    <div class="link-list round secondary" style="display: none; box-shadow: 0 2px 4px hsla(0, 0%, 0%, 25%);"
        id="upper:run">
        <div class="flex flex-column" id="commands_list">
            <button class="option small full justify-space-between"
                onclick="document.getElementById('preview').click();">
                Refresh Preview
                <span class="chip mention" style="opacity: 75%;" title="Ctrl+Refresh">Ctrl+R</span>
            </button>

            <button class="option small full justify-space-between" onclick="window.FileEditor.Format();">
                Format
                <span class="chip mention" style="opacity: 75%;" title="Ctrl+Imperfections">Ctrl+I</span>
            </button>

            <button class="option small full justify-space-between red" onclick="window.set_editor_content(true);">
                Reverse All Changes
            </button>
        </div>
    </div>

    <div class="link-list round secondary" style="display: none; box-shadow: 0 2px 4px hsla(0, 0%, 0%, 25%);"
        id="upper:view">
        <div class="flex flex-column">
            <div class="option small full flex justify-space-between align-center">
                <label for="visual_editor" class="full">Visual Editor</label>
                <input type="checkbox" name="visual_editor" id="visual_editor"
                    style="width: 15px; height: 15px !important;"
                    onclick="globalThis.FileEditor.visual_editor_enabled = event.target.checked; globalThis.disable_property_window();" />
            </div>

            <div class="option small full flex justify-space-between align-center">
                <label for="split_view" class="full">Split View</label>
                <input type="checkbox" name="split_view" id="split_view"
                    style="width: 15px; height: 15px !important;" />
            </div>
        </div>
    </div>

    <style>
        .editor_topbar {
            padding: 2.5px;
            background: var(--background-surface1);
            border-bottom: solid 1px var(--background-surface2a);
            height: 31px !important;
            overflow: auto hidden;
        }

        .editor_topbar span {
            --height: 25px;
            height: var(--height) !important;
            min-height: var(--height) !important;
            padding: 0 var(--u-04);
            font-size: 14px;
        }

        .editor_topbar button,
        .editor_topbar .button {
            --height: 25px;
            font-size: 14px;
            padding: 0 var(--u-04);
            background: transparent;
            border-radius: var(--u-02);
            height: var(--height) !important;
            min-height: var(--height) !important;
        }

        .editor_topbar button:hover,
        .editor_topbar .button:hover {
            background: var(--background-surface2a);
            box-shadow: none;
        }

        .link-list {
            height: max-content;
            max-height: 100vh;
            overflow: hidden auto;
        }
    </style>

    <!-- editor main -->
    <div class="panes flex mobile:flex-column" style="height: 100%; overflow: auto;">
        <div id="doc_or_visual" style="display: contents;">
            <div id="_doc" class="full" style="height: 100%; overflow: auto; display: block;"></div>
            <div id="_visual" style="display: none;"></div>
        </div>

        <div id="_preview_browser" class="full" style="height: 100%; overflow: hidden; display: none;">
            <div class="editor_topbar full flex g-4 bg-0">
                <button class="round" id="preview" title="Refresh Preview">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-refresh-cw">
                        <path d="M3 12a9 9 0 0 1 9-9 9.75 9.75 0 0 1 6.74 2.74L21 8" />
                        <path d="M21 3v5h-5" />
                        <path d="M21 12a9 9 0 0 1-9 9 9.75 9.75 0 0 1-6.74-2.74L3 16" />
                        <path d="M8 16H3v5" />
                    </svg>

                    Refresh
                </button>
            </div>

            <iframe id="_preview_pane" class="full" style="height: calc(100% - 31px); overflow: auto;" frameborder="0"
                src="about:blank"></iframe>
        </div>

        <style>
            #_preview_pane {
                background: white;
            }

            #_preview_browser {
                border-left: solid 1px var(--background-surface2a);
            }

            @media screen and (max-width: 900px) {
                #_preview_browser {
                    border-left: 0;
                    border-top: solid 1px var(--background-surface2a);
                }
            }
        </style>
    </div>

    <!-- bottom bar -->
    <!-- <div class="editor_topbar" style="
        border-top: 1px solid var(--background-surface2a);
        border-bottom: 0;
    ">
        <span style="min-width: max-content;">{{ file_path }}</span>
        <div class="flex g-4"></div>
    </div> -->

    <script type="module">
        import { create_editor } from "/static/js/FileEditor.js";
        create_editor(document.getElementById('_doc'), '{{ project.name }}', '{{ file_path }}');

        window.set_editor_content = (do_confirm) => {
            if (do_confirm && !confirm("Are you sure you would like to do this?")) {
                return;
            }

            globalThis.FileEditor.Update(`{{ file_content|safe }}`);
        }

        window.set_editor_content();
    </script>

    <style>
        .cm-editor,
        .cm-line,
        .cm-line span {
            font-family: monospace !important;
        }

        .toolbar-layout-wrapper {
            max-height: 100dvh !important;
        }
    </style>
</div>

<!-- dialogs -->
<dialog id="unsaved_changes">
    <div style="width: 25rem; max-width: 100%">
        <p>You have unsaved changes. Are you sure you would like to close the editor and discard them?</p>

        <hr />

        <div class="full flex justify-space-between g-4">
            <a class="button round" href="javascript:document.getElementById('unsaved_changes').close();">
                Never Mind
            </a>

            <a class="button round red" href="about:blank">
                Close
            </a>
        </div>
    </div>
</dialog>

<dialog id="editor_help">
    <div style="width: 25rem; max-width: 100%">
        <h2 class="no-margin full text-center">Help</h2>

        <hr />

        <ul>
            <li><a href="https://code.stellular.org/stellular/vibrant">Source Code</a></li>
            <li><a href="https://code.stellular.org/stellular/vibrant/commits/branch/master">Commits</a></li>
            <li><a href="https://code.stellular.org/stellular/vibrant/projects/2">Road map</a></li>
        </ul>

        <hr />

        <ul>
            <li>Project Name: {{ project.name }}</li>
            <li>Project Owner: {{ project.owner }}</li>
            <li>File Path: /{{ file_path }}</li>
        </ul>

        <hr />

        <div class="full flex justify-right">
            <a class="button round red" href="javascript:document.getElementById('editor_help').close();">
                Close
            </a>
        </div>
    </div>
</dialog>
{% endblock %}